[user]
	name = Vimal Jobanputra
	email = vim@atomic.io

[github]
	user = vimto

[core]
	excludesfile = ~/.gitignore
	editor = atom --wait

[credential]
	helper = osxkeychain

[push]
	default = simple
